
.gallery {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .photo-card {
    flex-basis: calc(100% / 1 - 50px);


    margin-top: 30px;
    margin-left: 30px;
  
    border-radius: 20px;
    
    background-color: var(--card-color);

    box-shadow: 0px 0px 10px 0px var(--box-shadow);
  
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .photo-card:hover {
    transform: scale(1.03);
  }
  
  .photo {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .info {
    padding: 10px;
    display: flex;
    justify-content: space-around;

    color: var(--text-color-c);
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .info-number {
    margin-top: 5px;
    font-weight: 400;
  }
  
  @media screen and (min-width: 480px) {
    .photo-card {
      flex-basis: calc(100% / 1 - 50px);
    }
  
    .photo {
      height: 220px;
    }
  }
  @media screen and (min-width: 700px) {
    .photo-card {
      flex-basis: calc(100% / 2 - 30px);
    }
  
    .photo {
      height: 220px;
    }
  }
  @media screen and (min-width: 1200px) {
    .photo-card {
      flex-basis: calc(100% / 4 - 30px);
    }
  
    .photo {
      height: 160px;
    }
  
    .info-item {
      font-size: 12px;
    }
  
    .info-number {
      font-size: 11px;
    }
  }
  